*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
/* HEADER */
#contenedor-logo-titulo{
   background-color: #28BAE5;
}
/* IMAGEN + ASIDE*/
#imagen-aside{
    background-color: white;
}
/* PUBLICACIONES */
#publicaciones-aside{
    background-color: #f2f3f4;
}
/* FOOTER */